<h1>Smitty</h1>

<p>Smitty is a tool that automatically changes the Terminal theme when you open a new Tab or Window.</p>

<p>It's written in ruby and apple script, and all the code lives off your home directory, so it's easy to tweak or hack.</p>

<p>You should be able to install it from a default Mac OS install, just type:</p>

<pre>curl <a href="http://get.smitty.cx" rel="nofollow" target="_blank">get.smitty.cx</a> | sh</pre>

<p>Try it, you may like it, but it's easy to uninstall too, just type:</p>

<pre>curl <a href="http://unget.smitty.cx" rel="nofollow" target="_blank">unget.smitty.cx</a> | sh</pre>

<p>I hope you like it.</p>

<p>It's hosted on <a href="https://github.com/djukami/smitty.cx">GitHub</a>, if you're interested in such things.</p>