<html>
    <head>
        <title>Smitty</title>
        <link href="style.css" type="text/css" rel="stylesheet"/>
        
    </head>
    <body><div class="container"><%= yield %></div></body>
</html>